.slick-prev {
  left: 40px;
  z-index: 4;
}
.slick-next {
  right: 40px;
  z-index: 4;
}
.container {
  background: #f9f9f9;
}
.nf_text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.nf_text h3 {
  margin-left: 20px;
}
.brand {
  display: flex;
}

.brand div {
  margin: 0 20px
}
.alternative_bg {
  background: #F6F6F6;
  border: 1px solid #E9DEDE;
  border-radius: 35px;
  padding: 20px;
  margin: 30px 0;
}
.alternative_bg h1 {
  color: #355881;
  font-size: 20px;
  font-weight: 600;
}
.certifiers p {
  display: none;
}
.brand p {
  text-align: center;
}